<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Service Desk Portal : Group 2 | <%= data.title %>
    </title>


    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom CSS File -->
    <link rel="stylesheet" href="css/style.css">


</head>

<body>

    <header class="py-10 px-3 flex justify-between items-center bg-[#3b0a1f]">
        <div class="logo">
            <h2 class="text-xl text-white">Service Desk Portal : Group 2</h2>
        </div>
    </header>